html{
  background: url("../images/lined-paper.gif") no-repeat top center;
}

#header{
  position: relative;
  left: 75%;
}

h1 {
  margin-top: 45px;
  text-align: center;
}

p{
  text-align: center;
}

body {
  font-family: Wingdings;
}

h1{
  color: purple;
}

/*BONUS:*/
#diagram {
  text-align: center;
}

img {
    border-color: green;
  border-style: solid;
  border-width: 5px;
}

#header{
  display: inline-block;
  border-color: blue;
  border-style: dotted;
  border-width: 5px;
}